<!-- <div>
  <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="MN">
  <h2>
    {{ currentUser?.name }}
    {{ currentUser?.lastname }}
  </h2>
  <mat-divider></mat-divider>
  <h1>
    {{ currentUser?.email }}
    {{ currentUser?.moduleId }}
    {{ currentUser?.studentYearId }}
  </h1>
</div> -->

<mat-grid-list cols="2" rowHeight="2:2" fxFlex fxLayout="collumn">
  <mat-grid-tile>User photo</mat-grid-tile>
  <mat-grid-tile>
    <div *ngIf="userId == currentUser?.id">
      {{ currentUser?.name }}
      {{ currentUser?.lastname }}
      {{ currentUser?.email }}
      {{ currentUser?.moduleId }}
      {{ currentUser?.studentYearId }}
      <p>ovo sam ja</p>
    </div>
    <div *ngIf="userId != currentUser?.id">
      {{ user?.name }}
      {{ user?.lastname }}
      {{ user?.email }}
      {{ user?.moduleId }}
      {{ user?.studentYearId }}
      <p>ovo nisam ja brrrrrrrrrre</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>graphs/consultations</mat-grid-tile>
  <mat-grid-tile>graphs/consultations</mat-grid-tile>
</mat-grid-list>

