
/* img {
  padding-left: 10px;
  padding-top: 10px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
} */

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('http://localhost:5000/static/images/default_user.png');
  background-size: cover;
}

.main {
  min-width: 100%;
  flex-wrap: wrap;
}

mat-card, .flex-col {
  flex-grow: 1;
}

.chart {
  flex-grow: 1;
}
