<!-- <form [formGroup]="form" (ngSubmit)="onSubmit()" class="example-form">
  <mat-card>
    <mat-card-title>Re: {{ showOnPage }}</mat-card-title>
  </mat-card>

  <mat-form-field class="example-full-width">
    <wa-mat-quill theme="snow" formControlName="text"></wa-mat-quill>

    <mat-error *ngIf="f.text.errors?.required">Ovo polje je obavezno!</mat-error>

  </mat-form-field>



  <button type="submit" mat-raised-button color="accent">Odgovori</button>
</form> -->
<div class="main">
  <h2> Re:
    <quill-editor [(ngModel)]="showOnPage" [readOnly]="true" [modules]="{toolbar: false}">
    </quill-editor>
  </h2>
  <quill-editor [styles]="{height: '200px'}" [(ngModel)]="text" class="editor"></quill-editor>

  <button mat-raised-button color="accent" (click)="onSubmit()">Odgovori</button>
</div>
