<div class="main">
  <!-- <h3 class="question">{{ question?.title }}</h3>
  <h2 class="question">{{ question?.text }}</h2>
  <div class="question">
    <span class="userAsking"> pitao/la: <a *ngIf="userAsking"
      [routerLink]="['/user/', userAsking.id]">
      {{ userAsking?.name }} {{ userAsking?.lastname }} </a> -
      {{ question?.timestampStr }}
    </span> -->

    <mat-card class="question">
      <mat-card-title>{{ question?.title }}</mat-card-title>
      <mat-card-subtitle> <img mat-card-avatar src={{imagePath}}{{userAsking?.image.path}}> <a *ngIf="userAsking"
        [routerLink]="['/user/', userAsking.id]">
        {{ userAsking?.name }} {{ userAsking?.lastname }} </a> -
        {{ question?.timestampStr }}</mat-card-subtitle>

      <mat-card-content>{{ question?.text }}</mat-card-content>
      <div class="btn">
        <button mat-raised-button color="primary" [routerLink]="['answer']">Odgovori</button>
      </div>
    </mat-card>



  <!-- </div> -->

  <div *ngFor="let d of discussion">
    <mat-card class="answer">
      <div class="pinButton">
        <button mat-button
                matTooltip="Pinuj odgovor"
                matTooltipPosition="above"
                (click)="pinAnswer(d.answer)"
                >
          <mat-icon *ngIf="d.answer.isPinned" class="pinIcon">push_pin</mat-icon>
          <mat-icon *ngIf="!d.answer.isPinned">push_pin</mat-icon>
        </button>
      </div>
      <mat-card-title>
        {{ d.answer?.text }}
      </mat-card-title>
        <mat-card-subtitle class="user"> napisao/la: <img mat-card-avatar src={{imagePath}}{{d.answerUser?.image.path}}>
          <a *ngIf="d.answerUser"
                  [routerLink]="['/user/', d.answerUser?.id]">
                  {{ d.answerUser?.name }} {{ d.answerUser?.lastname }} </a> -
                  {{ d.answer?.timestampStr }}
        </mat-card-subtitle>

      <div *ngIf="d.answer?.userId != currentUser?.id">
        <span *ngFor="let rating of currentUserRatings">
          <app-star-rating *ngIf="d.answer.id == rating.answerId" [color]="starColor" [starCount]="5"
                          [rating]="rating.grade.value"
                          (ratingUpdated)="ratingUpdated($event, d.answer.id)"></app-star-rating>
        </span>
      </div>
      <br />
      <div>
        Srednja ocena:
        {{ d.answer?.averageGrade }}
      </div>

      <div class="commentButton">
        <button mat-button matTooltip="Ostavi komentar" matTooltipPosition="above"
                [routerLink]="['/add-comment/', d.answer?.id]">
                <mat-icon>chat</mat-icon>
        </button>
        <button mat-button
                matTooltip="Obrisi odgovor"
                matTooltipPosition="above"
                [hidden]="!(currentUser?.id == d.answerUser.id || currentUser?.roleId == 2 || currentUser?.roleId == 3)"
                (click)="deleteAnswer(d.answer?.id)"
                >
          <mat-icon >delete</mat-icon>
        </button>
        </div>
    </mat-card>

      <div *ngFor="let comment of d.comments" class="comment">
        <mat-card>
          <mat-card-title>
            {{ comment.comment?.text }}
          </mat-card-title>

          <mat-card-subtitle class="user">
            napisao/la: <img mat-card-avatar src={{imagePath}}{{comment.user?.image.path}}><a *ngIf="comment.user"
                        [routerLink]="['/user/', comment.user.id]">
                        {{ comment.user?.name }} {{ comment.user?.lastname }} </a> -
                        {{ comment.comment?.timestampStr }}
          </mat-card-subtitle>

          <div class="deleteButton">
            <button mat-button
                  matTooltip="Obrisi komentar"
                  matTooltipPosition="above"
                  [hidden]="!(currentUser.id == comment.user.id || currentUser.roleId == 2 || currentUser.roleId == 3)"
                  (click)="deleteComment(comment.comment.id)"
                  >
            <mat-icon >delete</mat-icon>
          </button>
          </div>
        </mat-card>
      </div>
  </div>
</div>
