.main {
  font-size: 16px;
}

.question {
  text-align: center;
  border: 1px solid lightgray;
  margin-bottom: 1%;
}

.userAsking {
  margin-bottom: 10%;
  font-size: 13px;
}

.answer {
  border: 1px solid lightgray;
  margin-bottom: 1%;
  /*
  background: #d3d3d3; */
}

.user {
  margin-left: 5%;
  /* margin-bottom: 5%;
  font-size: 12px; */
}

.comment {
  margin-left: 5%;
  margin-bottom: 1%;
  border: 1px solid lightgray;
}

.btn {
  margin-bottom: 2%;
  margin-top: 2%;
}

.commentButton {
  text-align: right;
}

[hidden] {
  display: none !important;
}

.deleteButton, .pinButton {
  text-align: right;
}

.pinIcon {
  transform: rotate(45deg);
}

.example-header-image {
  background-image: url('http://localhost:5000/static/images/default_user.png');
  background-size: cover;
  width: 20px;
  height: 20px;
}
