<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="toggleSideBar()">
        <mat-icon>menu</mat-icon>
      </button>

        <span class="title">eQues</span>
        <form [formGroup]="searchForm" (ngSubmit)="search()">
          <mat-form-field>
            <mat-label>Pretrazi</mat-label>
            <input matInput formControlName="search">
          </mat-form-field>

          <button mat-button matSuffix mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>

          <mat-radio-group formControlName="type">
            <mat-radio-button [value]=1 checked="True">
              Korisnici
            </mat-radio-button>

            <mat-radio-button [value]=2>
              Predmeti
            </mat-radio-button>

            <mat-radio-button [value]=3>
              Pitanja
            </mat-radio-button>
          </mat-radio-group>
        </form>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                  <button *ngIf="currentUser?.roleId == 3" mat-button [matMenuTriggerFor]="adminMenu">
                    <mat-icon>assignment</mat-icon>
                  </button>

                  <mat-menu #adminMenu="matMenu">
                    <button mat-menu-item *ngIf="currentUser?.roleId == 3" [routerLink]="['admin/professor-subject']">
                      Dodeli predmet profesoru
                    </button>

                    <button mat-menu-item *ngIf="currentUser?.roleId == 3" [routerLink]="['admin/professor-approve']">
                      Odobri profesora
                    </button>

                    <button mat-menu-item *ngIf="currentUser?.roleId == 3" [routerLink]="['admin/add-subject']">
                      Dodaj predmet
                    </button>

                    <button mat-menu-item *ngIf="currentUser?.roleId == 3" [routerLink]="['admin/delete-subject']">
                      Obrisi predmet
                    </button>

                    <button mat-menu-item *ngIf="currentUser?.roleId == 3" [routerLink]="['admin/update-subject']">
                      Izmeni predmet
                    </button>

                    <button mat-menu-item *ngIf="currentUser?.roleId == 3" [routerLink]="['admin/professor-approve']">
                      Pregledaj neodobrene naloge
                    </button>

                    <button mat-menu-item *ngIf="currentUser?.roleId == 3" [routerLink]="['admin/professor-approve']">
                      Pregledaj sve naloge
                    </button>

                  </mat-menu>

                  <button mat-button [routerLink]="['/home']">
                    <mat-icon>home</mat-icon>
                  </button>

                  <button mat-button [matMenuTriggerFor]="menu">
                      <mat-icon>person_outline</mat-icon>
                  </button>

                  <mat-menu #menu="matMenu">
                      <button mat-menu-item *ngIf="currentUser" [routerLink]="['/user', currentUser?.id]">
                        Profil
                      </button>

                      <button mat-menu-item (click)="logOut()">
                          <mat-icon>exit_to_app</mat-icon>
                          Odjavi se
                      </button>
                  </mat-menu>
                </li>
            </ul>
        </div>
      </mat-toolbar-row>
</mat-toolbar>
