<div *ngIf="error">{{ error }}</div>

<h3>Register</h3>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline">
        <mat-label for="name"> Name </mat-label>
        <input matInput id="name" type="text" formControlName="name">

        <div *ngIf="submitted && f.name.errors">
            <div *ngIf="f.name.errors.required">First name is required</div>
        </div>
    </mat-form-field>

    <div>
        <label for="lastname"> Last name </label>
        <input id="lastname" type="text" formControlName="lastname">

        <div *ngIf="submitted && f.lastname.errors">
            <div *ngIf="f.lastname.errors.required">Last name is required</div>
        </div>
    </div>

    <div>
        <label for="email"> E-mail </label>
        <input id="email" type="text" formControlName="email">

        <div *ngIf="submitted && f.email.errors">
            <div *ngIf="f.email.errors.required">Email is required</div>
        </div>
    </div>

    <div>
        <label for="password"> Password </label>
        <input id="password" type="password" formControlName="password">

        <div *ngIf="submitted && f.password.errors">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters long</div>
        </div>
    </div>

    <div>
        <label for="module"> Module </label>  <!-- Radio buttons -->
        <input id="module" type="text" formControlName="module">
    </div>

    <div>
        <label for="year"> 
          Year
        </label>
        <select  id="year" formControlName="year" >
            <option *ngFor="let y of years">
                {{ y }}
            </option>
        </select>
    </div>

    <button type="submit">Register</button>
</form>