<app-header *ngIf="isLoggedIn" (toggleSideBarForMe)="sideBarToggler($event)"
                               (userLoggedOut)="logUserOut($event)"></app-header>

<mat-drawer-container>
  <mat-drawer *ngIf="isLoggedIn" mode="side" [opened]="sideBarOpen">
      <app-sidebar></app-sidebar>
  </mat-drawer>

  <!-- <mat-drawer-content *ngIf="!isLoggedIn">
    <app-default></app-default>
  </mat-drawer-content> -->

  <mat-drawer-content>
      <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<!-- <app-footer></app-footer> -->
