<div class="main">
  <div *ngIf="subject">
    <h1> {{ subject.name }} </h1>
    <h2> {{ subject.description }}</h2>

    <div *ngFor="let p of professors">
      <h4>Email profesora: {{ p?.email }}</h4>
    </div>
  </div>

  <!-- <div *ngFor="let topic of topics">
    <h3> {{ topic.name }} </h3>
  </div> -->

  <div>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let topic of topics" class="main">
        <mat-expansion-panel-header (click)="getQuestions(topic.id)">
          <mat-panel-title>
            {{ topic?.name }}
          </mat-panel-title>
          <mat-panel-description>
            {{ topic?.description }}
          </mat-panel-description>
        </mat-expansion-panel-header>
          <div *ngFor="let question of questions" >
            <button mat-button color="primary" [routerLink]="['/discussion', question?.id]">
              {{ question?.title }}
            </button>
          </div>
        <button mat-raised-button color="accent" [routerLink]="['/add-question', topic.id]">Dodaj novo pitanje</button>
        <!-- <div *ngIf="clicked">
          <router-outlet></router-outlet>
        </div> -->
        </mat-expansion-panel>
    </mat-accordion>
</div>


</div>
